<%= form_for(@vehicle) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field form-group">
      <%= f.label :year %><br>
      <%= f.number_field :year, class: 'form-control', placeholder: "enter year car was made" %>
  </div>  
  <div class="field form-group">
      <%= f.label "Manufacturer" %><br>
      <%= f.text_field :make, class: 'form-control', placeholder: "enter manufacturer of car" %>
  </div>
  <div class="field form-group">
      <%= f.label :model %><br>
      <%= f.text_field :model, class: 'form-control', placeholder: "enter model of car" %>
  </div>
  <h2>Image</h2>
  <h3>Current Image</h3>
  <%= image_tag("default-vehicle.png", class: "car-image-preview") %>
  <div class="field form-group">
      <%= f.label :vehicleimage %><br>
      <%= f.file_field :vehicleimage %>
  </div>
  
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
