<div class="container">
    <h2>Repairs for <%= @vehicle.year %> <%= @vehicle.make %> <%= @vehicle.model %></h2>
    <%= image_tag(@vehicle.vehicleimage, class: "car-image-preview") %>
    <h2>Total cost of repairs for this vehicle is <%= @totalcost %></h2>         
</div>           
<div class="container-fluid">
    <div class="row">
        <% @vehicle.repairs.each do |repair| %>
            <div class="repair-item col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1">
               <ul>
                    <li>
                       <h2><%= repair.work %>
                            <span class="repair-edit"> - 
                                <span class="glyphicon glyphicon-pencil"> </span>
                                <%= link_to 'Edit', edit_vehicle_repair_path(@vehicle, repair) %>
                            </span>
                        </h2>
                    </li>
                    <li>Cost: <%= repair.cost %></li>
                    <li>Repair Shop: <%= repair.shop %></li>
                    <li>Date of Work: <%= repair.date %></li>
                    <li>Mileage when work done: <%= repair.mileage %></li>
                </ul>
            </div>
        <% end %>
    </div>
</div>
<div class="container">
    <%= link_to 'New Repair', new_vehicle_repair_path, class: "btn btn-primary" %>
</div>